body {
    background-color: #363635;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #FB8423;
    font-size: 45px;
}

p {
    font-size: 20px;
    color: #D8DECE;
    
}
.originals > h2 {
    color: #2DCD42;
    font-size: 35px;
}

.original-container {
    color: #D8DECE;
}

.copies > h2 {
    color: #2DCD42;
    font-size: 35px;
}

button {
    background-color: #FB8423;
    color: #363635;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

